@import /src/styles.sass

.back
    background-image: url(/assets/images/bg-signIn.png)
    @include bodyComp

.tittles
    display: flex
    p
        font-family: $font-content
        font-size: 10px
        color: black
        margin-top: 0px
    h1
        font-family: $font-glitch
        font-size: 70px
        color: black
        margin-top: 87px

.card-signIn
    border: 2px solid black
    width: 471px
    height: 380px
    margin-left: 133px
    margin-top: -16px
    h3
        color: black
        font-size: 30px
        text-align: center