<div class="back">
    <div class="content">
        <div class="login-space">
            <p> ¿Le temes a la osbcuridad? </p>
            <h1> Pesadilla </h1>
        </div>

        <div class="card-login">
            <form action="">
                <label>
                    <h3> Inicia Sesión </h3>
                </label>

                <div class="inputContainer">
                    <input type="email" class="input" placeholder="">
                    <label for="" class="label">Email</label>
                </div>

                <div class="inputContainer">
                    <input type="password" class="input" placeholder="">
                    <label for="" class="label">Contraseña</label>
                </div>

                <button class="btn-classic">Ingresar</button>

                <a class="anchor">
                    <p> ¿Eres nuevo? Únete a la comunidad</p>
                </a>
            </form>

        </div>
    </div>
</div>